<!-- footer -->
<footer class="wow fadeIn bg-white border-top">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <!-- footer logo -->
        <div class="col-md-12 col-sm-12 text-center">
          <div class="text-center">
            <a class="inner-link" href="/">
              {% img logo/logo-normal.png alt:'Right Solutions Logo' %}
            </a>
          </div>
        </div>
        <!-- end footer logo -->
        <!-- social media link -->
        <div class="col-md-12 col-sm-12 text-center margin-four no-margin-lr no-margin-bottom xs-margin-fifteen xs-no-margin-lr xs-no-margin-bottom">
          <div class="footer-social">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
            <!-- <a href="https://dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a> -->
            <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>
           <div class="Footer_link">
            <a href="/#about_us">ABOUT US</a><span>&nbsp;|&nbsp;</span>
            <a href="/#our_services">OUR SERVICES</a><span>&nbsp;|&nbsp;</span>
            <a href="/#our_works">OUR WORKS</a><span>&nbsp;|&nbsp;</span>
            <!-- <a href="/#testimonials">TESTIMONIALS</a><span>&nbsp;|&nbsp;</span> -->
            <a href="/contact_us.html">CONTACT US</a>
          </div>
        </div>
        <!-- end social media link -->
      </div>
      <div class="row" style="margin-top:40px;">
        <div class="col-md-12 col-sm-12 text-center">
        <span class="text-small text-uppercase letter-spacing-1" style="color:#fff;">&COPY; 2016 Copyright Right Solutions</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
    </div>
  </div>
</footer>