<!-- navigation -->
<nav class="navbar no-margin-bottom alt-font inner">
  <div class="container navigation-menu">
    <div class="row">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="col-lg-2 col-md-3 navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand inner-link" href="#home">
          {% img logo/logo-normal.png alt:'Right Solutions Logo' style: "height:80px;" %}
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-9 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/#about_us" class="inner-link">About Us</a></li>
          <li><a href="/#our_services" class="inner-link">Our Services</a></li>
          <li><a href="/#our_works" class="inner-link">Our Works</a></li>
          <!-- <li><a href="/#testimonials" class="inner-link">Testimonials</a></li> -->
          <li><a href="/contact_us.html" class="inner-link">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 pull-right header-right text-right sm-display-none">
        <a class="btn-small-white btn btn-small no-margin inner-link" target="_blank" href="/contact_us.html">Let's work together?</a>
      </div>
    </div>
  </div>
</nav>
<!-- end navigation -->