<div class="alert alert-info alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<p><b>New:</b> New Messages are important and its status will be unread. It will be marked in orange color.</p>
	
	<p><b>Archived:</b> Archiving is a way to avoid displaying attended messages in the list. You can click on the 'Show Archived' button to see archived messages.</p>
	
	<p><b>Deleted:</b> Deleted messages are marked as deleted. It is not deleted from the system. This is designed to make it available for auditing in future. </p>
</div>