<!-- about section -->
<section id="about_us" class="wow fadeIn" style="padding-bottom: 0;">
  <div class="container">
    <div class="row xs-text-center">
      <!-- section title -->
      <div class="col-md-6 col-sm-12">
        <h2 class="alt-font font-weight-600 title-thick-underline border-color-fast-yellow display-inline-block letter-spacing-2 margin-seven no-margin-lr no-margin-top xs-margin-eleven xs-no-margin-lr xs-no-margin-top">About us</h2>
      </div>
      <!-- end section title -->
      <!-- text -->
      <div class="clearfix"></div>
      <div class="col-md-5 col-sm-12">
        <span class="margin-eleven no-margin-lr no-margin-top display-inline-block xs-margin-eleven xs-no-margin-lr xs-no-margin-top" style="font-size:16px;">We are seasoned and talented team of IT consultants, infrastructure engineers, designers and developers who have helped our clients to grow their business and profits by adopting the right IT strategy and solutions.</span>

        <p class="margin-eleven no-margin-lr no-margin-top display-inline-block xs-margin-eleven xs-no-margin-lr xs-no-margin-top" style="font-size:16px;"> Our methods are simple and easy to work with.</p>

        <h4 style="font-size: 17px;font-weight: bold;margin-bottom: 20px;">OUR VISION</h4>

        <p class="margin-eleven no-margin-lr no-margin-top display-inline-block xs-margin-eleven xs-no-margin-lr xs-no-margin-top" style="margin-bottom: 20px;font-size:16px;"> Our Vision is to empower small and medium business owners to take right technology decisions to grow their business.</p>
        
        <h4 style="font-size: 17px;font-weight: bold;margin-bottom: 20px;">OUR MISSION</h4>
        
        <p class="margin-eleven no-margin-lr no-margin-top display-inline-block xs-margin-eleven xs-no-margin-lr xs-no-margin-top" style="font-size:16px;"> Our Mission is to help 100 clients by end of 2016 to adopt the right technology to survive any market change. We like to partner with them to own their technology problems and innovate solutions for their business.</p>
        
      </div>
      <!-- end text -->
      <!-- features box -->
      <div class="col-md-6 col-sm-12 col-md-offset-1 sm-padding-five sm-no-padding-lr sm-no-padding-bottom xs-margin-eleven xs-no-margin-lr xs-no-margin-bottom">
        {% img about.jpg alt:'About Us - Right Solutions' style: "width: 520px;" %}
        <!-- end features box -->
      </div>
      <!-- end features box -->
    </div>
  </div>
</section>
<!-- end about section -->