<%= theme_heading("Manage Subscriptions") %>

<div id="div_subscription_info">
	<%= render :partial=>"info" %>
</div>

<div class="row mb-10">
	<div class="col-sm-6">
	</div>
	<div class="col-sm-6">
		<%= theme_search_form(Subscription, admin_subscriptions_path) %>
  </div>
</div>

<%# Renders a partial to display all the subscriptions %>
<div id="div_subscription_index">
	<%= render :partial=>"index" %>
</div>


