<div class="alert alert-info alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<p><b>Add an Admin User:</b> You can add as many users you want. All of them will have access to all the items in the backend.</p>
</div>