<div class="alert alert-info alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<p><b>Published:</b> Published testimonials will be displayed on home page. Here, the green colored ones represents published testimonials.</p>

	<p><b>Unpublished:</b> Unpublished testimonials are handy when are awaiting the approval. Here, the grey colored ones represents unpublished testimonials.</p>

	<p><b>Deleted:</b> When you delete a testimonial, it is not deleted from the system. Instead the status is changed to deleted. This is designed to make it available for auditing in future.</p>
</div>