<!-- Jumbotron -->
<section class="class_name jumbotron">
	<%= render :partial=>"/website/home/sections/jumbotron" -%>
</section>

<!-- 3 Headings -->
<section class="class_name headings">
	<%= render :partial=>"/website/home/sections/headings" -%>
</section>