<div class="panel panel-default panel-bordered panel-420 p-20">

  <%= image_tag("/assets/logo/logo.png", class: "centered", alt: "<Application Name>") %>

  <hr/>

  <%= render partial: "sessions/sign_in_form" %>

</div>

<div class="cl"></div>


